.list {
    display: flex;
    flex-wrap: wrap;
}

.list__item {
    width: 20%;
    padding: 8px;
}

.photo {
    position: relative;
    height: calc(100% - 8px);
}

.photo__delete {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.photo__album {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.photo__img {
    width: 100%;
    cursor: zoom-in;
}

@media screen and (max-width: 991px) {
    .list__item {
        width: 33.33333%;
    }
}

@media screen and (max-width: 575px) {
    .list__item {
        width: 50%;
    }
}