.pagination {
    text-align: center;
}

.pagination__link {
    border-radius: 2px;
    border: 1px solid #fff;
    background: none;
    cursor: pointer;
}

.pagination__link--active {
    border-color: rgba(0, 0, 0, 0.5);
}