.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
    width: 100%;
    max-width: 600px;
    height: max-content;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 2px;
    background-color: #fff;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.modal__title {
    font-size: 16px;
    line-height: 24px;
}

.modal__close {
    padding: 0;
    border: none;
    background: none;
    font-size: 32px;
    cursor: pointer;
}
