.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(0, 0, 0, 0.8);
}

.header__logo {
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    line-height: 32px;
    text-align: center;
    color: #fff;
}